			.mall1{
				background:salmon;
				text-align:center;
				font-size:2em;
				cursor:pointer;
			}
			.mall2{
				background:powderblue;
				text-align:center;
				font-size:2em;
				cursor:pointer;
			}
			.mall3{
				background:wheat;
				text-align:center;
				font-size:2em;
				cursor:pointer;
			}
			.mall4{
				background:mocassin;
				text-align:center;
				font-size:2em;
				cursor:pointer;
			}

